
#center-text {          
  display: flex;
  flex: 1;
  flex-direction:column; 
  justify-content: center;
  align-items: center;  
  height:100%;
  
}
#chat-circle {
  position: fixed;
  bottom: 50px;
  right: 50px;
  background: var(--first-color-dark);
  width: 40px;
  height: 40px;  
  border-radius: 50%;
  color: white;
  padding: 28px;
  cursor: pointer;
  box-shadow: 0px 3px 16px 0px var(--background-border-color), 0 3px 1px -2px var(--background-border-color), 0 1px 5px 0 var(--background-border-color);
  font-size: 40px;
}

.btn#my-btn {
  background: var(--background-color);
  padding-top: 13px;
  padding-bottom: 12px;
  border-radius: 45px;
  padding-right: 40px;
  padding-left: 40px;
  color: var(--first-color-dark);
}
#chat-overlay {
  background: rgba(255,255,255,0.1);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: none;
  
}



.chat-box {
  display:none;
  background: var(--background-color);
  position:fixed;
  right:30px;
  bottom:50px;  
  width:25vw;
  max-width: 85vw;
  max-height:100vh;
  border-radius:5px;  
/*   box-shadow: 0px 5px 35px 9px #464a92; */
  /* box-shadow: 0px 1px 1px 1px #ccc; */
  z-index: 100;
}
.chat-box-toggle {
  float:right;
  position: absolute;
  right: 10px;
  top: 10px;
  cursor:pointer;
  font-size: 25px;
}
.chat-box-header {
  background: #006100;;
  height:40px;
  border-top-left-radius:5px;
  border-top-right-radius:5px; 
  color:white;
  text-align:center;
  font-size:20px;
  padding-top:17px;
}
.chat-box-body {
  position: relative;  
  height:370px;  
  height:auto;
  border:1px solid var(--background-border-color);
  overflow: hidden;
}
.chat-box-body:after {
  content: "";
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height:100%;
  position: absolute;
  z-index: -1;   
}
#chat-input {
  background: var(--background-color);
  position:relative;
  width:21vw; 
  height:47px;  
  padding-top:10px;
  padding-bottom:10px;
  padding-left:15px;
  border:none;
  resize:none;
  outline:none;
  /* border:1px solid #ccc; */
  color:#ccc;
  border-top:none;
  border-bottom-right-radius:5px;
  border-bottom-left-radius:5px;
  overflow:hidden; 
  font-size: 18px;
}
.chat-input {
    margin-bottom: 0;
    border:1px solid var(--background-border-color);;
}


#chat-input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ccc;
}
#chat-input::-moz-placeholder { /* Firefox 19+ */
  color: #ccc;
}
#chat-input:-ms-input-placeholder { /* IE 10+ */
  color: #ccc;
}
#chat-input:-moz-placeholder { /* Firefox 18- */
  color: #ccc;
}
.chat-submit {  
  position:absolute;
  bottom: 16px;

  background: transparent;
  box-shadow:none;
  border:none;
  border-radius:50%;
  color:var(--first-color-dark);
  width:35px;
  height:35px;  
  font-size: 30px;
  margin: auto;
  text-align: center;
  cursor:pointer;

}

.chat-logs {
  padding:15px; 
  height:370px;
  overflow-y:scroll;
}

.chat-logs::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: var(--background-color);
}

.chat-logs::-webkit-scrollbar
{
	width: 5px;  
	background-color: #F5F5F5;
}

.chat-logs::-webkit-scrollbar-thumb
{
	background-color: var(--first-color-dark);
}



@media only screen and (max-width: 500px) {
   .chat-logs {
        height:40vh;
    }
}

.chat-msg.user > .msg-avatar img {
  width:45px;
  height:45px;
  border-radius:50%;
  float:left;
  width:15%;
}
.chat-msg.self > .msg-avatar img {
  width:45px;
  height:45px;
  border-radius:50%;
  float:right;
  width:15%;
}
.cm-msg-text {
  background:var(--background-border-color);
  padding:10px 15px 10px 15px;  
  color:#ffffff;
  max-width:75%;
  float:left;
  margin-left:10px; 
  position:relative;
  margin-bottom:20px;
  border-radius:30px;
}
.chat-msg {
  font-size: 20px;
  clear:both; 
}
.chat-msg.self > .cm-msg-text {  
  float:right;
  margin-right:10px;
  background: var(--first-color-dark);
  color:white;
}
.cm-msg-button>ul>li {
  list-style:none;
  float:left;
  width:50%;
}
.cm-msg-button {
    clear: both;
    margin-bottom: 70px;
}