/*-------------------NavBar-start-------------------*/
@media screen and (min-width: 1100px){
.header{
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px;
	background: #131313; 
	display: block;
	justify-content: space-between;
	text-align: right;
	z-index: 100;

	box-shadow: 0 1px 20px #191919;
}


.navbar{
	margin-right: 10%;
}
.navbar a{
	
	position: relative;
	font-size: 19px;
	color: var(--first-color);
	font-weight: 550;
	text-decoration: none;
	margin-left: 20px;
}
.navbar a:hover{
	color: white;
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

.navbar a::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 2px;
	background: var(--first-color);
}
.navbar a:hover::before{
	width: 100%;
	background: white;
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}
.header .icon {
	display: none;
}
}


@media screen and (max-width: 1100px){
	/* Style the navigation menu */
.header {
	overflow: hidden;
	position: fixed;
	z-index: 900;
	background-color: var(--background-color);
	width: 100vw;
}
	
	/* Hide the links inside the navigation menu (except for logo/home) */
.header .navbar {
	display: none;
}

/* Style navigation menu links */
.header a {
	color: var(--first-color);
	padding: 14px 16px;
	text-decoration: none;
	font-size: 7vw;
	display: block;
}

/* Style the hamburger menu */
.header .icon {
	width: 7vw;
	height: 7vw;
	color: var(--first-color);
	display: block;
	right: 0;
	top: 0;
}

/* Add a grey background color on mouse-over */
/* .header a:hover {
	background-color: #ddd;
} */

/* Style the active link (or home/logo) */

}
/*-------------------NavBar-end-------------------*/