/* Created by Konstantinas Ovcinikovas */
/* 
Copy on email messagebox (Maybe Later)
Animation for photos (Done)
Fill all data
Media
*/

*{
	margin: 0;
	padding: 0;
	/* border: solid 1px;  */
}

:root {
	--first-color: #008f00;
	--second-color: white;
	--background-color: #101010;
	--background-border-color:#272727;
}



body {
	font-family: Courier,Arial; 
	font-size: 25px; 
	color: #ffffff;
	
	background-color: var(--background-color);
}

/* Disable horizontal scrolling */
html, body {
    max-width: 100%;
    overflow-x: hidden;
}

p{
	color: #b6b8b9;
}

/* Background squares */
#box1{
	position: fixed;
	right: -5%;
	bottom: 0%;
	z-index: -100;

	width: 600px;
	height: 600px;
	transform: rotate(37deg);

	border: ridge 1px;
	border-color: var(--background-border-color);
}	
#box2{
	position: fixed;
	top: 10%;
	z-index: -100;
	
	width: 400px;
	height: 400px;
	
	transform: translate(-0px) rotate(15deg);
	border: groove 1px;
	border-color: var(--background-border-color);
}

.linkAnchor{
	margin-bottom: 5%;
	opacity: 0;
}

/*-------------------NavBar-start-------------------*/
.header{
	position: fixed;
	top: 0;
	width: 100%;
	padding: 10px;
	background: #131313; 
	display: block;
	justify-content: space-between;
	text-align: right;
	z-index: 100;

	box-shadow: 0 1px 20px #191919;
}


.navbar{
	margin-right: 10%;
}
.navbar a{
	
	position: relative;
	font-size: 18px;
	color: var(--first-color);
	font-weight: 500;
	text-decoration: none;
	margin-left: 20px;
}
.navbar a:hover{
	color: white;
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

.navbar a::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 0;
	width: 0;
	height: 2px;
	background: var(--first-color);
}
.navbar a:hover::before{
	width: 100%;
	background: white;
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}
/*-------------------NavBar-end-------------------*/





/*-------------------Hello-start-------------------*/
.hello{
	width: auto;
	margin: 350px auto 500px auto;
	white-space: nowrap;
	text-align: center;
	animation: appear 2s 1;
}
.hello p{
	font-size: 35px;
}
.hello h1{
	font-size: 50px;
}
@keyframes appear{
	from{
		opacity: 0;
		transform: scale(1.4);
	}
	to{	
		opacity: 1;
		transform: none;
	}
}
/*-------------------Hello-end-------------------*/





/*-------------------About-start-------------------*/
.about-title
{
	text-align: center;
	margin-top: 0px;
	margin-bottom: 100px;
	font-weight: bold;
	font-size: 40px;
}

.about{
	display: grid;
	grid-template-columns: 2fr 3fr;
	grid-template-rows: 1fr 5fr 2fr 3fr;

	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 20%;
}

.about span{
	color:var(--first-color);
}

.about span:hover{
	color: white;
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

.about .text{
	color:#b6b8b9;
}

.about .Photo {
	grid-column: 1 / 2;
	grid-row: 1 / 6;

	background: url(img/ProfilePhoto.jpg) no-repeat;
	background-position: 20%;
	background-size: 300px;
}

.about .subtitle{
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}

.about .text{
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.about .number{
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

.about .email{
	grid-column: 2 / 3;
	grid-row: 4 / 5;
}

/*Social-start*/
.about .socials{

	grid-column: 2 / 3;
	grid-row: 5 / 6;
}

.socials .fa {
	padding: 20px;
	font-size: 40px;
	width: 40px;
	height: 40px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;

	background: #1b1b1b;
	color: var(--first-color);
  }
  
.socials .fa:hover {
	color: white;
	opacity: 0.7;
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}
/*-------------------About-end-------------------*/





/*-------------------Portfolio-start-------------------*/
/* General */
.projects-title{
	text-align: center;
	margin-bottom: 100px;
}

.ViewProject{
	position: relative;
	width: 181px;
	height: 25px; 
	font-size: 25px;
	color: var(--first-color);
	text-decoration: none;
}
.ViewProject:hover{
	color: white;
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}
.ViewProject::before{
	content: '';
	position: absolute;
	top: 100%;
	left: 0px;
	width: 0px;
	height: 2px;
	background: var(--first-color);
}
.ViewProject:hover::before{
	width: 100%;
	background: white;
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

.Portfolio {
	display:grid;
	grid-template-columns: 1fr 2fr;
	grid-template-rows: 1fr 5fr 1fr;

	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 300px;
}

/* Portfolio */
.Portfolio .Photo {
	
	grid-column: 1 / 2;
	grid-row: 1 / 4;

	width: 300px;
	height: 400px;
	
	background: url(img/ProfilePhoto.jpg) right no-repeat;
	background-size: contain;
}
.Portfolio .Name{
	grid-column: 2 / 3;
	grid-row: 1 / 2;
}
.Portfolio p{
	grid-column: 2 / 3;
	grid-row: 2/ 3;
}
.Portfolio .ViewProject{
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}
/*-------------------Portfolio-end-------------------*/



/*-------------------Portfolio2-start-------------------*/
.Portfolio2 {

	display:grid;
	grid-template-columns: 3fr 2fr;
	grid-template-rows: 1fr 5fr 1fr;


	margin-left: 15%;
	margin-right: 15%;
	margin-bottom: 300px;
}

.Portfolio2 .Photo {
	
	grid-column: 2 / 3;
	grid-row: 1 / 4;

	width: 300px;
	height: 400px;
	

	background-image: url(img/ProfilePhoto.jpg);
	background-position: right;
	background-repeat: no-repeat;
	background-size: contain;
}
.Portfolio2 .Name{
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}
.Portfolio2 p{
	grid-column: 1 / 2;
	grid-row: 2/ 3;

}
.Portfolio2 .ViewProject{
	grid-column: 1 / 2;
	grid-row: 3 / 4;
}

/*-------------------Portfolio2-end-------------------*/





/*-------------------Footer-start-------------------*/
.Contact{
	text-align: center;
	margin-bottom: 200px;
}

.Contact .copyText{
	margin: auto;
	display: block;
	color: var(--first-color);
	margin-bottom: 60px;
	width: max-content;
}

.Contact span:hover{
	color: white;
	transition-property: all;
	transition-duration: .3s;
	transition-timing-function: ease-in-out;
}

/* Messagebox */
/* .Contact .copyText::after{
	position: absolute;
	right: 100px;
	content: " Copied \2713";
	width: max-content;
	color: var(--second-color);
	opacity: 0;
}

@keyframes appear-disappear{
	from{
		opacity: 1;
	}
	to{	
		opacity: 0;
	}
}
.msgbox-animation::after{
	animation: appear-disappear 5s 1;
} */

/*-------------------Footer-end-------------------*/





/*-------------------Appear-start-------------------*/
.appear-object{

	opacity: 0;
    transform: scale(1.2);
}

@media (prefers-reduced-motion: no-preference) {
  .appear-object {
    transition: opacity 0.2s linear, transform 0.5s ease;
  }
}

.appear-transition {
    opacity: 1;
    transform: none;
}
/*-------------------Appear-end-------------------*/
/* Created by Konstantinas Ovcinikovas */
